.friend_card {


}

.avatar {

}

.name {
}

.status  {

}

.status_online {
    composes: status;
    background-color: rgb(33, 161, 33);
}

.status_offline {
    composes: status;
    background-color: rgb(221, 19, 19);
}