.friend_list {
    margin: 50px;
    width: 300px;

}

.friend_card {

    display: flex;
    align-items:center;
    
    
    padding: 15px;

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 18px 3px rgba(0,0,0,0.74);
    margin-bottom: 10px;
}

.status  {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 15px;
}

.status_online {
    composes: status;
    background-color: rgb(33, 161, 33);
}

.status_offline {
    composes: status;
    background-color: rgb(221, 19, 19);
}

.avatar {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

.name {
    font-size: large;
    font-weight: bold;
}