.transaction_history {
    width: 300px;
    margin: 50px;
    box-shadow: 1px 1px 18px 3px rgba(0,0,0,0.74);
    padding: 10px;
}

.column {
    border: 1px solid rgb(83, 104, 94);
}

.table_head {
    composes: column;

    text-transform: uppercase;
    
    background-color: rgb(79, 180, 147);
}


.type_column {
    composes: column;

    padding-left: 7px;
}

.amount_column {
    composes: column;

    text-align: right;
    padding-right: 10px;
}

.currency_column {
    composes: column;

    text-align: center;
}

.gradient {
    background-color:rgba(172, 209, 191, 0.356)
}